<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-4">
            <h4 class="card-title">{{metadata?.title}}</h4>
          </div>
          <div class="col-md-8 justify-content-between text-end">
            @if (!isDetail()) {
              <button type="button" (click)="onPerformNew()" 
                      class="btn" rippleEffect>
                  Adicionar
              </button>
              <button type="button" (click)="onRemove()" class="btn " rippleEffect>
                  Remover
              </button>
              <button type="button" (click)="onOpenDetail()" class="btn " rippleEffect>
                  Ver
              </button>
            } @else {
              <button type="button" (click)="onPerformSave()" 
                      class="btn" rippleEffect>
                  Salvar
              </button>
              <button type="button" (click)="onCancel()" class="btn " rippleEffect>
                  Cancelar
              </button>
            }
          </div>
        </div>
      </div>
      <div class="card-body">
        @if (!isDetail()) {
          <app-wdbp-grid [metadata]="metadata"></app-wdbp-grid>
        } @else {
          <app-wdbp-detail [metadata]="metadata"></app-wdbp-detail>
        }
      </div>
    </div>
  </div>
</div>